{% extends 'components/base.html' %}

{% block content %}

    <div class="text-secondary-10">
        <h2 class="w-auto mx-auto p-4 text-3xl text-center">Flask Applikationen</h2>

        <div>
            <p class="mx-auto p-2">Välkomment till min flask-applkikation. Den här applikationen är en del av
                kursen "Algoritmer och datastrukturer med objektorienterad Python" och går vid Blekinge Tekniska
                Högskola vårterminen 2022. Applikationen har skapats med språket python i micro-ramverket flask.
                Tanken är att jag ska bygga ett yatzy spel här som ni kan spela.</p>

            <p class="mx-auto p-2">Mitt namn är Daniel och det är jag som bygger applikationen som uppgift i
                kursen. Personligen tycker jag Flask är intressant eftersom det är en väg att möjliggöra
                programmeringsspråket python mot webben vilket kan vara mycket använbart på många olika områden.
                Expandera perspektivet lite och börja tänka i riktningen webb plus hårdvara plus statistik med någor
                av pythons välkännda moduler vilket blir mycket intressant. Möjligheterna slutar inte där och det är
                bara vår egen kreativiteten som hindrar oss från att uppfinna våra egna webbintegrerade system och
                flask kan hjälpa oss!</p>

            <p class="mx-auto mb-6 p-2 text-xl">För att se vad min webb-applikation har att erbjuda orientera dig
                runt med navigeringe högst upp. Hoppas ni gillar den!</p>
        </div>
    </div>

{% endblock content %}
