{% extends 'components/base.html' %}

{% block content %}

    <div class="w-full bg-white text-secondary-10 flex flex-row justify-between gap-8">
        <div class="w-full">

            {% if finished %}
                <div class="w-full p-4 bg-green-300 rounded">
                    <h2 class="mx-auto p-4 text-3xl text-center">Game Over</h2>
                    <p class="py-2 text-center">You have collected {{ total_score }} points. </p>
                    <p class="pb-4 text-center text-sm italic">If you like to play again, press the restart game button below. </p>
                </div>
            {% elif finished == False %}

            {% include "components/dice_hand.html" %}

            <p class="px-4 text-sm text-center">Dice rolls: {{ counter }}</p>

                {% if counter < 3 %}
                    <p class="px-8 pt-4 italic text-small text-center">If you like to roll specific dice, check the box for that dice. In case of none selected all dice in hand will be rolled.</p>
                {% endif %}

            <div class="flex flex-row justify-around gap-4 px-10 m-auto">
                <button form="dice_form"
                        type="submit"
                        class="w-full mx-auto mt-4 p-4 rounded inline-block md:w-1/2 md:mt-12
                        text-2xl text-center uppercase text-primary-10 bg-quaternary-10 shadow-lg
                        hover:bg-quinary-10 font-button">Roll them dices!</button>
            {% endif %}

                <button form="reset_game"
                        type="submit"
                        class="w-full mx-auto mt-4 p-4 rounded inline-block md:w-1/2 md:mt-12
                        text-2xl text-center uppercase text-primary-10 bg-quaternary-10 shadow-lg
                        hover:bg-red-400 font-button">Reset Game</button>
            </div>

            <form id="reset_game"
                  action="{{ url_for('reset') }}"
                  method="POST"
                  class="hidden">
            </form>
        </div>

        {% include "components/scoreboard.html" %}

    </div>

{% endblock content %}
