
<footer class="flex flex-row justify-around bottom-0 w-full h-auto mb-0 mt-auto p-6 md:p-8 bg-secondary-10
text-primary-10">
    <div class="w-1/3 h-auto">
        <p class="text-sm mx-auto">Flask applikation skapad för kursen ooPython. Kursen går vid Blekinge Tekniska
            Högskola som en del av programmet Webbprogrammering.</p>
        <p class="text-sm mx-auto">Här ska vi spela yatzy!</p>
    </div>

    <div class="w-1/3 h-auto">
        <p class="text-sm mx-auto">Daniel Andersson</p>
        <p class="text-sm mx-auto">daap19</p>
        <p class="text-sm mx-auto">VT 2022</p>
    </div>
</footer>
