<div class="w-1/2 px-4 rounded">
    <form id="scoreboard"
          action="{{ url_for('select_score') }}"
          method="POST"
          class="flex flex-col justify-between gap-1">
        <div class="flex flex-row justify-between gap-2 pb-4">
            <h2 class="p-4 text-3xl">Scoreboard</h2>
        </div>

        <div class="flex flex-row justify-between gap-1 text-sm">
            <p class="w-1/4 text-center">Select</p>
            <p class="w-1/4 text-center">Rule</p>
            <p class="w-1/4 text-center">Worth</p>
            <p class="w-1/4 text-center">Points</p>
        </div>

        {% set scoreboard = session.get('scoreboard') %}

        {% for rule in rules %}
            <div class="w-full flex flex-row justify-between gap-1 text-sm px-4 py-1 bg-primary-10 rounded shadow-lg">
                {% if scoreboard[rule.name] %}
                    <p class="w-1/6 inline-bock text-center m-auto">&checkmark;</p>
                {% else %}
                    <input type="radio"
                           name="select_score"
                           id="{{ rule.name }}"
                           value="{{ rule.name }}"
                           class="w-1/6 m-auto">

                    <input type="text"
                           name="{{ rule.name }}"
                           class="hidden"
                           value="{{ rule.points(hand) }}">
                {% endif %}

                <label for="{{ rule.name }}"
                       class="w-1/2">
                    {{ rule.name }}
                </label>

                {# Worth #}
                <p class="w-1/6"> {% if scoreboard[rule.name] %}  {% elif rule.points(hand) > 0 %} {{ rule.points(hand) }} {% else %} - {% endif %}</p>

                {# Score #}
                <p class="w-1/6"> {% if scoreboard[rule.name] %} {{ scoreboard[rule.name] }} {% else %} - {% endif %} </p>
            </div>
        {% endfor %}

        <button form="scoreboard"
            type="submit"
            class="w-full mx-auto mt-4 p-4 rounded inline-block md:w-1/2 md:mt-12
            text-2xl text-center uppercase text-primary-10 bg-quaternary-10 shadow-lg
            hover:bg-quinary-10 font-button">Select score</button>
    </form>


</div>
